.flex {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.card {
    margin: 1rem;
    height: 4rem;
    width: 4rem;
    border: 1px solid blue;
    color:  white;
    font-size: 3rem;
    background-color: gray;

}